@import '../../_variables';

.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}

.mb-small {
    margin-bottom: 1.5rem;
}

.mb-medium {
    margin-bottom: 4rem;
}

.mb-large {
    margin-bottom: 8rem;
}

.mt-small {
    margin-top: 1.5rem;
}

.mt-medium {
    margin-top: 4rem;
}

.mt-large {
    margin-top: 8rem;
}

.mt-huge {
    margin-top: 10rem;
}

.btn-text {
    &:link, &:visited {
        color: $color-primary;
        text-decoration: none;
        padding: .3rem;
        display: inline-block;
        border-bottom: .1rem solid $color-primary;
        transition: all .2s;
        font-size: 1.6rem;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-.2rem);
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
}

.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            z-index: 20;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            outline: 1.5rem solid $color-primary;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../assets/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transition: all .2s;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        display: inline-block;
        color: transparent;
    }

    &__text {

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
    }
}

.section-tours {
    background-color: #f7f7f7;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.card {
    perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &--3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &__picture {
        background-size: cover;
        background-blend-mode: screen;
        height: 23rem;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url("../assets/nat-5.jpg");
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("../assets/nat-6.jpg");
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url("../assets/nat-7.jpg");
        }
    }

    &__heading {
        z-index: 1;
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-medium;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: .3rem;
    padding: 6rem;
    padding-left: 9rem; //adding 3 due to the transform of the shape
    font-size: 1.6rem;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%); //defines how the element flows around the shape
        clip-path: circle(50% at 50% 50%); //defines the shape's look itself
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(.3rem) brightness(80%);
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .15;
    overflow: hidden;
    
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}