@import '../../_variables';

.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}

.mb-small {
    margin-bottom: 1.5rem !important;
}

.mb-medium {
    margin-bottom: 4rem !important;
}

.mb-large {
    margin-bottom: 8rem !important;
}

.mt-small {
    margin-top: 1.5rem !important;
}

.mt-medium {
    margin-top: 4rem !important;
}

.mt-large {
    margin-top: 8rem !important;
}

.mt-huge {
    margin-top: 10rem !important;
}

.btn-text {
    &:link, &:visited {
        color: $color-primary;
        text-decoration: none;
        padding: .3rem;
        display: inline-block;
        border-bottom: .1rem solid $color-primary;
        transition: all .2s;
        font-size: 1.6rem;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-.2rem);
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
}

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 1000;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 500;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);

        // transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0; //makes transition cooler
        z-index: 750;

        opacity: 0;
        width: 0; //needed since the links will still be clickable if its only opacity
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link, &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 225%;
            transition: all .4s;
        }

        &:hover, &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    // Functionality
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // Icon
    &__icon {
        margin-top: 3.5rem;
        position: relative;

        &, &:before, &:after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: #333;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &:before {top: -.8rem;}
        &:after {top: .8rem;}

    }

    &__button:hover &__icon:before {
        top: -1rem;
    }

    &__button:hover &__icon:after {
        top: 1rem;
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked ~ &__button &__icon:before {
        top: 0;
        transform: rotate(180deg - 45deg);
    }

    &__checkbox:checked ~ &__button &__icon:after {
        top: 0;
        transform: rotate(180deg - -45deg);
    }
}

.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .2rem;
        position: absolute;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            z-index: 20;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            outline: 1.5rem solid $color-primary;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../assets/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transition: all .2s;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        display: inline-block;
        color: transparent;
    }

    &__text {

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
    }
}

.section-tours {
    background-color: #f7f7f7;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.card {
    perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &--3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &__picture {
        background-size: cover;
        background-blend-mode: screen; //used to give the background a different look
        height: 23rem;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url("../assets/nat-5.jpg");
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("../assets/nat-6.jpg");
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url("../assets/nat-7.jpg");
        }
    }

    &__heading {
        z-index: 1;
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-medium;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: .3rem;
    padding: 6rem;
    padding-left: 9rem; //adding 3 due to the transform of the shape
    font-size: 1.6rem;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%); //defines how the element flows around the shape
        clip-path: circle(50% at 50% 50%); //defines the shape's look itself
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(.3rem) brightness(80%);
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .15;
    overflow: hidden;
    
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, .85) 0%, rgba($color-white, .85) 50%, transparent 50%), url(../assets/nat-10.jpg); //use percentages to stop the gradients at certain points
    background-size: 100%; //100% is the same as cover
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}

.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: .3rem solid transparent;
        width: 90%;
        display: block;

        &:focus { //used to remove the blue border on click
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary;

            &:invalid {
                border-bottom: .3rem solid $color-secondary-dark;  
            }
        }

        &::webkit-input-placeholder {
            color: #999;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem; //placing it in line with the text due to input's padding
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label { //using adjacent sibling selector
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 50%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        padding-left: 4.5rem;
        position: relative;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: all .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}

.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: #f7f7f7;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid #777;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link, &:visited {
            color: #f7f7f7;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            background-color: #333;
        }

        &:hover, &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid #777;
        padding-top: 2rem;
        width: 80%;
        float: right;
    }
}

.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &:target {
        opacity: 1;
        visibility:  visible;
    }

    &__close {
        &:link, &:visited {
            color: #777;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            display: inline-block;
            text-decoration: none;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
    
    &__card {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.25);
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;
    }

    &:target &__card {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;

        hyphens: auto;
    }
}